
<nav id="menu" role="navigation">  

</nav>
<div class="page-wrap">

    <div class="container" role="main">
        <article>

            <img src="https://i.imgur.com/tVmj0Yi.jpg" class="center" >

            <h2 align="center">BUENA     SONRISA</h2>
                <p>La clínica Buena Sonrisa, especialista en salud
                    dental, cuenta actualmente con siete consultorios
                    (más otros tres que están en construcción).</p> 
                    
                    
                <p> dos laboratorios (uno especializado en diagnóstico por
                    imágenes, y otro en mecánica dental), y una sala
                    de espera general. </p>

                <p>  Está abierta al público de lunes
                    a viernes en el horario de 8:00 a 19:00, y los
                    sábados en el horario de 8:00 a 14:00. </p>

                    

                <p class = "fuerte">  Para comenzar a utilizar nuestro sitio web, usted puede: </p>

                <p class = "fuerte" align="center"> <a href="/login">Iniciar sesión</a> o <a href="/registro">Registrarse</a> </p>
                     

        </article>
  </div>
</div>